:root{
    --blue-color: #100E34;   
    --purpal-color: #BC13FE;
    --darkpurpal-color: #a122d4; 
    --pink-color: #FF00B9;
    --white-color: #FFFFFF;
    --light-color: #C6C5C5;
    --Gray-color: #5E5E5E;
    --back-gradient: linear-gradient(-10deg, #B300F9, #FF00B9);
    --font-roboto: "roboto";
}
body{font-family: var(--font-roboto); font-size: 16px; line-height: 24px; color: var(--Gray-color); background: url(../img/body-back.png) no-repeat center center; background-size: cover;}
html{scroll-behavior: smooth;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{font-weight: bold; color:var(--blue-color); margin: 0;}
h1, .h1{font-size: 50px; line-height: 60px;}
h2, .h2{font-size: 42px; line-height: 50px;}
h3, .h3{font-size: 36px; line-height: 42px;}
h4, .h4{font-size: 30px; line-height: 35px;}
h5, .h5{font-size: 25px; line-height: 35px;}
h6, .h6{font-size: 20px; line-height: 24px;}
a{text-decoration: none;}
p{margin: 0;}
.btn{padding: 17px 40px; font-size: 18px; line-height: 24px; font-weight: 500; color: var(--white-color); border-radius: 50px;}
header, section{padding-bottom: 115px;}
/* header */
.navbar .nav-item .nav-link{padding: 0; margin: 0 10px; position: relative; color: var(--paratext-color);}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active{color:var(--purpal-color);}
.navbar .nav-item .nav-link.active::before{content: " "; background-image: url(../img/home-sap.svg); background-repeat: no-repeat; width: 40px; height: 15px; position: absolute; bottom: -10px; left: 2px;}
.navbar .btn-outline-danger, .ourproduct .card .card-body button{color:var(--purpal-color); border-color: var(--purpal-color); padding: 10px 25px; font-size: 16px; margin: 0 10px 0 20px; position: relative; transition: all 0.5s;}
.navbar button img  {margin: 0 5px 5px 0;}
.navbar button .login{background: url(../img/login.svg) no-repeat left center; padding-left: 20px; transition: all 0.5s;}
.navbar .btn-outline-danger:hover .login{background: url(../img/login-h.svg) no-repeat left center;}
.navbar .btn-outline-danger:hover, .ourproduct .card .card-body button:hover{background-color: var(--darkpurpal-color); color: var(--white-color); border-color: var(--purpal-color);}
.navbar .btn-danger{background-color:var(--purpal-color); padding: 10px 25px; font-size: 16px; border-color:var(--purpal-color)}
.navbar .btn-danger:hover{background-color: var(--darkpurpal-color); border-color: var(--darkpurpal-color);}
.navbar .cart{margin-left: 10px; position: relative;}
.navbar .cart .box{position: absolute; background-color: #DD0000; width: 20px; height: 20px; border-radius: 2px; top: -10px; right: -8px; transform: rotate(45deg); text-align: center;}
.navbar .cart .box .num{display: block; color: var(--white-color); font-weight: 400; transform: rotate(-45deg); padding-left: 1px;}
/* hero section */
.hero{margin-top: 42px;}
.hero h1 .grede, .hero .off10 .grede, .ourproduct h2 .grede, .aboutus h2 .grede, .gallery h2 .grede, .ourclients h2 .grede, .faqs h2 .grede{display: inline-block; width: 145px; height: 50px; background-image: var(--back-gradient); background-clip: text; color: transparent; position: relative;}
.hero .off10 .grede{width: 110px; height: 33px;}
.hero p{margin: 13px 0 23px 0; padding-right: 115px;}
.hero h1 .grede::after{content: " "; background: url(../img/hero-sep.svg) no-repeat; width: 115px; height: 15px; position: absolute; bottom: -12px; left: 10px;}
.hero .btn-info, .aboutus .btn-info, .ourproduct .btn-info{background-color: var(--purpal-color); border-color: var(--purpal-color); border: none;}
.hero .btn-info:hover, .aboutus .btn-info:hover, .ourproduct .btn-info:hover{background-color:var(--darkpurpal-color);  color: var(--white-color);}
.hero .herobox{background: var(--white-color); width: 890px; box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2); border-radius: 15px; align-items: center; padding: 30px; position: relative; margin: 50px auto 0;}
.hero .btnbox{width: 240px;}
.hero .off10 .off{margin: 20px 0 0 0; padding-right: 45px;}
.hero .off10 .grede::after{content: " "; background: url(../img/tanoff-sep.svg) no-repeat; width: 95px; height: 15px; position: absolute; bottom: -14px; left: 10px;}
/* Our Product */
.ourproduct, .faqs{padding-bottom: 120px;}
.ourproduct h2 .grede::after{content: " "; background: url(../img/product-sep.svg) no-repeat; width: 115px; height: 15px; position: absolute; bottom: -6px; left: 10px;}
.ourproduct h2 .grede{width: 155px;}
.ourproduct .card, .gallery .rounded-4, .ourclients .testimonial .testiback, .ourclients .testimonial .testiback .testimg{border-radius: 10px; border: none; box-shadow: 0 0 14px 0  rgba(0, 0, 0, 0.1); }
.ourproduct .small{font-size: 14px; font-weight: 500;}
.ourproduct .card .card-body button .carty{background: url(../img/product-cart.svg) no-repeat left center; padding-left: 30px; transition: all 0.5s;}
.ourproduct .card .card-body button:hover .carty{background: url(../img/product-h-cart.svg) no-repeat left center;}
.ourproduct .card-body{padding: 30px;}
.ourproduct .card-body{padding: 30px;}
.ourproduct .price{margin: 10px 0; color: var(--pink-color);}
.ourproduct .para{margin-bottom: 20px;}
.ourproduct .sep, .gallery .sep, .ourclients .sep, .faqs .sep, .ourproduct .prtbtn{margin: auto; text-align: center; padding-bottom: 40px;}
.ourproduct .prtbtn{padding: 30px 0 0 0;}
/* About Us */
.aboutus h2{margin-bottom: 19px;}
.aboutus p{margin-bottom: 25px; padding-right: 36px;}
.aboutus h2 .grede::after{content: " "; background: url(../img/about-sep.svg) no-repeat; width: 115px; height: 15px; position: absolute; bottom: -8px; left: 0px;}
.aboutus h2 .grede{width: 115px;}
/* Our Gallery */
.gallery h2 .grede, .ourClients h2 .grede{width: 135px;}
.gallery h2 .grede::after{content: " "; background: url(../img/gallery-sep.svg) no-repeat; width: 115px; height: 15px; position: absolute; bottom: -7px; left: 0px;}
.gallery .close{position: absolute; top: 115px; right: 240px; color: var(--white-color);  cursor: pointer;}
.gallery .curse{width: 300px; height: auto; transition: all 0.5s; cursor: pointer;}
.gallery img:hover {transform: scale(1.05);}
.gallery #lightbox{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); justify-content: center; align-items: center; z-index: 1000; transform: scale(1.5); }
.gallery #lightbox .curse{max-width: 1000%; max-height: 1000%;}
/* Our Clients Say */
.ourclients h2 .grede::after{content: " "; background: url(../img/clients-sep.svg) no-repeat; width: 115px; height: 15px; position: absolute; bottom: -7px; left: 6px;}
.ourclients .sep{padding-bottom: 45px;}
.ourclients .testimonial{position: relative;}
.ourclients .testimonial .testiback .testimg{position: absolute; left: -5px; top: -11px; width: 175px;}
.ourclients .testimonial .testiback{width: 350px; padding: 25px; background-color: var(--white-color);}
.ourclients .testimonial .testitext{margin-left: 100px;}
.ourclients .aleft { margin-right: 20px; width: 44px; height: 44px; background-color: var(--purpal-color); cursor: pointer;}
.ourclients .aright {margin-left: 25px;}
.ourclients .sbtn {margin-top: 30px;}
.ourclients .swiper-pagination-bullet{width: 10px ; height: 10px; border: 1px solid #BC13FE; background: none; opacity: 1;}
.ourclients .swiper-pagination-bullet-active{background: var(--purpal-color);}
.ourclients .swiper-pagination-bullets.swiper-pagination-horizontal{ width: auto;}
.ourclients  .container{overflow: hidden !important;}
ul{ padding: 0; margin: 0;}
/* FAQs */
.faqs h2 .grede::after{content: " "; background: url(../img/faqs-sep.svg) no-repeat; width: 70px; height: 15px; position: absolute; bottom: -9px; left: 5px;}
.faqs h2 .grede{width: 100px;}
.faqs .sep{margin: auto; text-align: center; margin-bottom: -7px;}
.faqs .accordion-item{border: none; margin-bottom: 15px; box-shadow: 0 0 14px 0  rgba(0, 0, 0, 0.1); border-radius: 30px;}
.faqs .accordion-button::after{background: url(../img/accordion-arrow.svg) no-repeat center center !important;}
.faqs .accordion .accordion-body{padding: 20px 30px 25px; position: relative;} 
.faqs .accordion .accordion-body p{border-top: 1px solid rgba(0, 0, 0, 0.2); padding-top: 15px;}
.faqs .accordion :focus{box-shadow: none;}
.faqs .accordion-button:not(.collapsed){box-shadow: none;}
.faqs .accordion-item .acordion{background-color: var(--white-color); color: var(--blue-color); border-radius: 100px !important;  font-size: 18px; font-weight: bold; padding: 20px 30px; outline: none;}
/* Footer */
footer{background-color: var(--blue-color); padding-top: 45px;}
footer .imglo{width: 186px;}
footer h5{color: var(--light-color); margin-bottom: 10px;}
footer p{color: var(--light-color); padding-right: 30px;}
footer .imglo{margin-bottom: 10px;}
footer ul{padding-left: 0px;}
footer ul li{list-style: none; padding-bottom: 5px;}
footer li a{color: var(--light-color); background: url(../img/footer-arrow.svg) no-repeat left center; padding-left: 15px; transition: all .5s;}
footer li a:hover{color: var(--white-color); background: url(../img/footer-h-arrow.svg) no-repeat left center;}
footer .loca img{margin-right: 10px;}
footer .loca a{color: var(--light-color); transition: all 0.5s;}
footer .loca a:hover{color: var(--white-color);}
footer .row{ border-bottom: 1px solid #343252;}
footer .ftfoot{padding: 18px 0; text-align: center; position: relative;}
footer .ftfoot .uparrow{background-color: var(--purpal-color); padding: 15px 12px; border-radius: 5px; position: absolute; right: 20px; bottom: 20px;}
footer .ftfoot .uparrow:hover{background-color: var(--darkpurpal-color);}


@media (max-width: 1399px) {
h1, .h1{font-size: 48px; line-height: 55px;}
.navbar .btn-outline-danger {margin-left: 10px;}
.ourclients .testimonial .testiback .testimg{position: absolute; left: -7px; top: -9px; width: 150px;}
.ourclients .testimonial .testiback{width: 315px; padding: 15px; background-color: var(--white-color);}
.ourclients .testimonial .testitext{margin-left: 95px;}
}
    
@media (max-width: 1199px) {
h1, .h1{font-size: 45px; line-height: 52px;}
h2, .h2{font-size: 40px; line-height: 48px;}
h3, .h3{font-size: 35px; line-height: 42px;}
h4, .h4{font-size: 30px; line-height: 38px;}
h5, .h5{font-size: 25px; line-height: 32px;}
h6, .h6{font-size: 20px; line-height: 25px;}
.hero h1 .grede, .ourproduct h2 .grede, .aboutus h2 .grede, .gallery h2 .grede, .ourclients h2 .grede, .faqs h2 .grede{width: 115px; height: 50px; }
.ourproduct h2 .grede, .aboutus h2 .grede, .gallery h2 .grede, .ourclients h2 .grede, .faqs h2 .grede{height: 40px;}
.hero p{margin: 10px 0 20px 0; padding-right: 0px;}
.hero h1 .grede::after, .hero .off10 .grede::after, .ourproduct h2 .grede::after, .gallery h2 .grede::after, .ourclients h2 .grede::after, .aboutus h2 .grede::after, .faqs h2 .grede::after{display: none;}
.hero .off10 .grede{width: 110px; height: 30px;}
.hero .off10 .off{margin-top: 10px; padding-right: 0px;}
.hero .herobox{width: 755px;}
.hero .btnbox{width: 290px;}
.ourproduct h2 .grede{width: 145px;}
.ourproduct .sep, .gallery .sep, .faqs .sep{padding-bottom: 25px;}
.ourclients .sep{padding-bottom: 30px;}
.gallery h2 .grede, .ourclients h2 .grede{width: 130px;}
.aboutus h2 .grede{width: 110px;}
.faqs h2 .grede{width: 95px;}
footer p{padding: 0px;}
.ourclients .testimonial .testiback .testimg{left: 35px; top: -11px; width: 175px;}
.ourclients .testimonial .testiback{width: 350px; padding: 25px; background-color: var(--white-color);}
.ourclients .testimonial .testitext{margin-left: 95px;}
header, section{padding-bottom: 80px;}
.ourproduct, .faqs{padding-bottom: 100px;}
.aboutus p{padding-right: 0px;}
}
       
@media (max-width: 991px) {
h1, .h1{font-size: 41px; line-height: 47px;}
h2, .h2{font-size: 36px; line-height: 42px;}
h3, .h3{font-size: 31px; line-height: 37px;}
h4, .h4{font-size: 26px; line-height: 32px;}
h5, .h5{font-size: 21px; line-height: 27px;}
h6, .h6{font-size: 18px; line-height: 25px;}
.navbar .logo{width: 200px; margin: 0px;}
.navbar .nav-item .nav-link{margin: 0 6px;}
.navbar .cart{margin-left: 5px;}
.ourclients .testimonial .testiback .testimg{left: 100px;}
.ourclients .testimonial .testiback{justify-content: center;}
.hero .off10 .grede{width: 95px;}
.hero .herobox{width: 690px; padding: 20px;}
.hero .btnbox{width: 311px;}
.ourproduct h2 .grede{width: 130px;}
.hero h1 .grede, .ourproduct h2 .grede, .aboutus h2 .grede, .gallery h2 .grede, .ourclients h2 .grede, .faqs h2 .grede{height: 40px;}
.aboutus .imgabt, .faqs .faqimg{width: 430px; margin: 0 auto 30px;}
.aboutus h2 .grede{width: 100px;}
.gallery h2 .grede, .ourclients h2 .grede{width: 115px;}
.faqs .faqimg{margin: 5px auto 35px;}
}


@media (max-width: 767px) {
.navbar .nav-item .nav-link{margin: 10px 0;}
.hero .hroimg{width: 400px; margin: 0 auto 30px;}
.hero .herobox{width: 520px;}
.ourclients .testimonial .testiback .testimg{left: 10px;}
header, section{padding-bottom: 70px;}
.ourproduct, .faqs{padding-bottom: 190px;}
}

@media (max-width: 575px) {
.navbar .logo{width: 165px;}
.hero .herobox{width: 340px;}
.hero .hroimg, .aboutus .imgabt, .faqs .faqimg{width: 300px;}
/* .aboutus .imgabt, .faqs .faqimg{width: 300px;} */
.ourclients .testimonial .testiback{position: relative; width: 260px; padding: 25px}
.ourclients .testimonial .testiback .testimg{width: 100px; left: -20px; top: -15px;}
.ourclients .testimonial .testiback .testitext{margin-left: 0px;}
.ourclients .testimonial .testitext .mb-2{margin: 0 0 20px 70px !important;} 
footer .smcentr{display: flex; justify-content: center;}
.faqs .accordion-item .acordion{font-size: 15px; font-weight: 400;}
}

